CompileFlags:
  Add:
    - -std=c++23
    - -Imessage_proj/include
    - -Iprotocol_proj/include
    - -Iimages_proj/include
    - -Imath_func/include
    - -Imatrix_task/include
    - -Istr_program/include
    - -Istudents_proj/include
    - -Iwarehouse_proj/include
  Remove:
    - -arch
    - arm64
    - x86_64

Index:
  Background: Build

CompilationDatabase: message_proj/build