# =====================
# Build directories
# =====================
build/
*/build/

# =====================
# CMake
# =====================
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# =====================
# Compile commands (локальный файл)
# =====================
compile_commands.json

# =====================
# VS Code
# =====================
.vscode/

# =====================
# Clang / tooling
# =====================
.clangd
.clang-format
.clang-tidy

# =====================
# OS files
# =====================
.DS_Store
*.swp

# =====================
# Binaries
# =====================
*.o
*.out
*.exe
*.a

# =====================
# Archives / мусор
# =====================
*.zip
*.tar
*.gz

.cache/
bin/